.button{
  padding: rem(21px) rem(41px);
  font-size: rem(16px);
  font-weight: 800;
  background: #FEDB3F;
  color: black;
  border-radius: rem(100px);
  text-transform: uppercase;

  &--transperent{
    background: transparent;
    color: #fff;
    
  }

  &:hover{
    background: black;
    color: #FEDB3F;
  }
}