.fixed-menu{
  position: fixed;
  top: 30%;
  right: 8%;
  z-index: 100;

  @include tablets{
    display: none;
  }
}

.fixed-menu__item{
  margin-bottom: rem(5px);

  &--active{
    .fixed-menu__link{
      background-color: transparent;
      border: rem(1px) solid white;
    }
  }
}

.fixed-menu__link{
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;
  margin-bottom: rem(18px);

//   &--active{
//     .fixed-menu__link{
//       background-color: #fff;
// }
//   }

  &:before{
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  }