.headline__title{
  margin-bottom: rem(25px);
  color: #292929;
}

.headline__subtitle{
  text-align: center;
  padding: 0 30%;
  margin-bottom: rem(49px);

  @include phones{
    padding: 0 5%;
  }
}