.reviews__display{
  background: #F8FAF9;
  padding: rem(42px) rem(142px) rem(42px) rem(42px);
  margin-bottom: rem(20px);

  @include tablets{
    padding: rem(32px) rem(24px) rem(16px) rem(23px);
  }
}

.reviews__display-inner{
  display: flex;

  @include tablets{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

// .reviews__avatar{
//   width: rem(510px);
//   height: rem(260px);
//   margin-right: rem(39px);
// }

.reviews{
  margin-left: rem(39px);

  @include phones{
    margin-left: 0;
  }
}

.reviews__avatar-img{
  object-fit: cover;
  width: rem(874px);
  height: rem(245px);
  margin-right: rem(39px);

  @include tablets{
    width: rem(130px);
    height: rem(130px);
  }
}

.reviews__content{
  flex: 1;
  margin-left: rem(20px);
}

.reviews__title{
  font-size: rem(27px);
  font-weight: bold;
  margin-bottom: rem(25px);
  color: #000;
}

.reviews__text{
  margin-bottom: rem(36px);
}

.reviews__author{
  font-size: rem(18px);
  font-weight: 500;
  color: #000;
}

.reviews__switcher{
  display: flex;
  align-items: center;
  justify-content: center;

}